Repository bottlerocket-os/bottlerocket-test-system, pull requests merged in 2022-08, with the labels that each got.

#470 agent: fix task state during test retries.
  agent/test-agent/src/agent.rs
Labels: priority/high

#476 controller: Allow exclusive access to resources
  bottlerocket/testsys/src/run_aws_ecs.rs
  bottlerocket/testsys/src/run_aws_k8s.rs
  bottlerocket/testsys/src/run_vmware.rs
  controller/src/resource_controller/action.rs
  controller/src/resource_controller/mod.rs
  model/src/resource.rs
  yamlgen/deploy/testsys-crd.yaml
Labels: priority/high

#510 Controller logs
  cli/src/logs.rs
  model/src/test_manager/manager.rs
  model/src/test_manager/manager_impl.rs
Labels: controller, cli

#513 resource_controller: fix pod search filter
  controller/src/resource_controller/context.rs
  model/src/resource.rs
  model/src/test_manager/manager_impl.rs
  selftest/src/cluster.rs
Labels: bug, model
